PORT=4003
NODE_ENV=development
SERVICE_NAME=inventory-service
HEALTH_ROUTE_PATH=/health
MONGODB_URI=mongodb://127.0.0.1:27017/products
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=inventory-service
KAFKA_GROUP_ID=inventory-service-group
ORDER_EVENTS_TOPIC=order-events
INVENTORY_EVENTS_TOPIC=inventory-events
